/* CSS Document */

#loading_indicator
{
	width:960px;
	height:250px;
	background-color:#999999; 
	margin:0px;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}


a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#395E7C;
	text-decoration:none;
}


a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#395E7C;
	text-decoration:underline;
}

input,textarea,select {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solaccount_num #cccccc;
	padding:2px;
}
h1 {
	color:#395E7C;
}
h3 {
	color:#395E7C;
}
.tableBorder {
	border:1px solaccount_num #cccccc;
}